<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.young.entity.Order">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="product_id" jdbcType="BIGINT" property="userId"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_order
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.young.entity.Order">
        insert into t_order(id, user_id, product_id, count, money, status)
        values (#{id}, #{userId}, #{productId}, #{count}, #{money}, #{status})
    </insert>

    <insert id="create" parameterType="com.young.entity.Order">
        insert into t_order(user_id, product_id, count, money, status)
        values (#{userId}, #{productId}, #{count}, #{money}, #{status})
    </insert>

    <insert id="insertSelective" parameterType="com.young.entity.Order">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="productId != null">
                #{productId},
            </if>
            <if test="count != null">
                #{count},
            </if>
            <if test="money != null">
                #{money},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <update id="update">
        update t_order
        set status = 1
        where user_id = #{userId}
          and status = #{status}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long">
        select *
        from t_order
        where id = #{id}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.young.entity.Order">
        update t_order
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.young.entity.Order">
        update t_order
        set user_id    = #{userId},
            product_id = #{productId},
            count      = #{count},
            money      = #{money},
            status     = #{status}
        where id = #{id}
    </update>
</mapper>